.Primary {
	width: 200px;
	height: 75px;

	transition: all 0.3s;
	text-align: center;
	text-transform: lowercase;

	color: #FFF;
	background-color: #000;

	font-size: 36px;
	font-weight: 500;

	&:disabled {
		&:hover {
			transform: none;
		}
	}

	&:hover {
		transition: all 0.3s;
		transform: scale(1.02);
	}
}

.Secondary {
	width: 360px;
	height: 110px;

	transition: all 0.3s;
	text-align: center;
	text-transform: lowercase;

	color: #FFF;
	border: 1px solid #FFF;
	background-color: transparent;

	font-size: 36px;
	font-weight: 500;

	&:hover {
		transition: all 0.3s;
		transform: scale(1.02);
	}
}

.SecondaryArrowed {
	width: 360px;
	height: 110px;
	padding-left: 40px;

	transition: all 0.3s;
	text-align: left;
	text-transform: lowercase;

	color: #FFF;
	border: 1px solid #FFF;
	background: url("@assets/right-arrow.svg") no-repeat right 10% top 50%;
	background-color: transparent;

	font-size: 36px;
	font-weight: 500;

	&:hover {
		padding-left: 50px;

		transition: all 0.3s;
		transform: scale(1.02);

		background: url("@assets/right-arrow.svg") no-repeat right 8% top 50%;
	}
}

.PrimaryMin {
	width: 160px;
	height: 55px;

	transition: all 0.3s;
	text-align: center;
	text-transform: lowercase;

	color: #FFF;
	background-color: #000;

	font-size: 24px;
	font-weight: 500;

	&:disabled {
		&:hover {
			transform: none;
		}
	}

	&:hover {
		transition: all 0.3s;
		transform: scale(1.02);
	}
}

.SecondaryReversed{
	width: 160px;
	height: 55px;

	transition: all 0.3s;
	text-align: center;
	text-transform: lowercase;

	color: #000;
	border: 1px solid #000;
	background-color: #fff;

	font-size: 24px;
	font-weight: 500;

	&:hover {
		transition: all 0.3s;
		transform: scale(1.02);
	}
}
.Rounded{
	width: 85%;
	height: 75px;
	transition: all 0.3s;
	text-align: center;
	text-transform: lowercase;
	border-radius: 30px;
	color: #000;
	background-color: #fff;

	font-size: 32px;
	font-weight: 500;

	&:hover {
		transition: all 0.3s;
		transform: scale(1.02);
	}
}
.RoundedReversed {
	width: 85%;
	height: 75px;
	transition: all 0.3s;
	text-align: center;
	text-transform: lowercase;
	border-radius: 30px;
	color: #fff;
	background-color: #000;

	font-size: 32px;
	font-weight: 500;

	&:hover {
		transition: all 0.3s;
		transform: scale(1.02);
	}
}