.Header {
	position: fixed;
	z-index: 10;

	display: grid;
	align-items: center;

	width: 100%;
	padding: calc(50% - 650px);
	padding-top: 20px;

	padding-bottom: 20px;

	background-color: #000;
	grid-template-columns: 1fr 1fr;

	.Nav {
		display: grid;
		align-items: center;
		grid-template-columns: 1fr 1fr;
	}

	.NavItems {
		display: flex;

		margin-right: 10px;
		margin-left: 10px;

		text-transform: lowercase;

		color: #FFF;

		font-size: 30px;
		gap: 40px;
		a {
			color: #fff;
			cursor: pointer;
			transition: all 0.3s;
	
			&:hover {
				transition: all 0.3s;
				transform: scale(1.05);
			}
		}
	}

	.NavItem {
		
	}

	.BurgerMenu > span,
	.BurgerMenu > span::before,
	.BurgerMenu > span::after {
		position: relative;

		display: none;

		width: 30px;
		height: 3px;

		cursor: pointer;

		border-radius: 15px;
		background-color: #FFF;
	}

	.BurgerMenu > span::before {
		position: absolute;
		top: -10px;

		content: "";

		border-radius: 15px;
	}

	.BurgerMenu > span::after {
		position: absolute;
		top: 10px;

		content: "";

		border-radius: 15px;
	}

	.Icons {
		display: grid;
		align-items: center;
		justify-self: self-end;
		grid-auto-flow: column;
position: relative;
		.UserIcon {
			
			transition: all 0.3s;
			color: #FFF;

			font-size: 30px;

			&:hover {
				transition: all 0.3s;
				transform: scale(1.05);
			}
		}

		.IconItem {
			margin-right: 3vh;
		}

		img {
			cursor: pointer;
			transition: all 0.3s;

			&:hover {
				transition: all 0.3s;
				transform: scale(1.05);
			}
		}

		.Btn {
			margin-right: 10px;
		}
	}
}

.Logo {
	width: fit-content;
	margin-left: 10px;

	img {
		transition: all 0.3s;

		&:hover {
			transition: all 0.3s;
			transform: scaleY(1.2);
		}
	}
}

// meida requsets
@media (max-width: 768px) {
	.Header {
		padding-left: 10px;
		padding-right: 10px;
		.NavItem {
			display: none;
		}

		.Nav {
			.NavItems {
				margin-right: 60px;
			}
		}

		.UserIcon {
			display: none;
		}

		.BurgerWrapper {
			height: 100%;
		}

		.BurgerMenu > span,
		.BurgerMenu > span::before,
		.BurgerMenu > span::after {
			display: block;

			margin-right: 5px;
		}
	}
}
