.Container{
    padding-top: 100px;
  padding-left: 15%;
    padding-right: 5%;
  background-color: #000;   
  display: grid;
  grid-template-columns: 2fr 1fr;
  .Title{
    margin-bottom: 50px;
    font-weight: bold;
  }
  .Decription{
    margin-bottom: 30px;
  }
  .Btn{
    margin-top: 70px;
    margin-bottom: 230px;
  }
  .Image{
    // overflow: hidden;
    
  }
}