.Container {
  padding-top: 95px !important;
  padding: 0 calc(50% - 650px);
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  max-height: 100vh;
  .PaymentBlock {
    .Title {
      font-weight: 500;
      font-size: 64px;
      margin-top: 25px;

      text-transform: lowercase;
    }
    .Adress {
      margin-top: 15px;
      h4 {
        color: #111729;
        font-weight: 700;
        font-size: 24px;
        margin-bottom: 10px;
      }
    }
    .Phone {
      margin-top: 25px;
      .Input {
        width: 350px;
        height: 55px;
        margin-bottom: 20px;
        padding: 16px 19px;
      
        border: 1px solid #000;
        background-color: transparent;
      
        font-size: 20px;
      
        &::placeholder {
          color: #949494;
        }
      }
      
    
     
      h4 {
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 10px;
      }
    }
    .Payment {
      .PaymentType {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 80%;
        h4 {
          font-weight: 700;
          font-size: 20px;
          margin-bottom: 10px;
        }

        .AddPayment {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-weight: 700;
          font-size: 16px;
          cursor: pointer;
        }
      }
    }
  }
  .Order {
    .OrderTitle {
      margin-top: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 37px;
      h4 {
        font-weight: 500;
        font-size: 32px;
      }
      .ChangeOrder {
        font-weight: 500;
        font-size: 20px;
        transition: all 0.3s;
        color: #000;

        &:hover {
          transition: all 0.3s;
          transform: scale(1.05);
        }
      }
    }
    .Products{
      max-height: 550px;
      overflow-y: scroll;
    }
    .OrderPrices {
      .OrderPriceItem {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        margin-top: 10px;
        h4 {    
          font-weight: 500;
          font-size: 20px;
          color: #000;
        }
        h3 {
          font-weight: 500;
          font-size: 24px;
          color: #000;
        }
      }
      .TotalPrice {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        h4 {
          
          font-weight: 500;
          font-size: 36px;
          color: #000;
        }
        h3 {
         
          font-weight: 500;
          font-size: 36px;
          color: #000;
        }
      }
    }
    .OrderBtn {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 43px;
    }
  }
}
.Error {
    
  display: flex;

  height: 17px;
  margin-bottom: 3px;

  text-align: center;

  color: red;

  font-size: 14px;
}
.ErrorValid {
  width: 350px;
  height: 55px;
  margin-bottom: 20px;
  padding: 16px 19px;

  background-color: transparent;

  font-size: 20px;

  border: 1px solid red;
  background-color: rgb(255 225 225);

  &::placeholder {
    color: rgb(255 121 121);
  }
}