.Container {
	display: grid;
	overflow: hidden;
	grid-template-columns: 1fr 1fr;

	min-height: 100vh;
	padding: 0 calc(50% - 650px);
	padding-top: 95px !important;

	.PaymentBlock {
		margin-left: 10px;
		.Title {
			margin-top: 25px;

			text-transform: lowercase;

			font-size: 64px;
			font-weight: 500;
		}

		.Address {
			margin-top: 15px;

			h4 {
				margin-bottom: 10px;

				color: #111729;

				font-size: 24px;
				font-weight: 700;
			}
		}

		.Phone {
			margin-top: 25px;

			.Input {
				width: 350px;
				height: 55px;
				margin-bottom: 20px;
				padding: 16px 19px;

				border: 1px solid #000;
				background-color: transparent;

				font-size: 20px;

				&::placeholder {
					color: #949494;
				}
			}

			h4 {
				margin-bottom: 10px;

				font-size: 20px;
				font-weight: 700;
			}
		}

		.Payment {
			.PaymentType {
				display: flex;
				align-items: center;
				justify-content: space-between;

				max-width: 80%;

				h4 {
					margin-bottom: 10px;

					font-size: 20px;
					font-weight: 700;
				}

				.AddPayment {
					display: flex;
					align-items: center;
					justify-content: space-between;

					cursor: pointer;

					font-size: 16px;
					font-weight: 700;
				}
			}
		}
	}

	.Order {
		margin-right: 10px;
		.OrderTitle {
			display: flex;
			align-items: center;
			justify-content: space-between;

			margin-top: 50px;
			margin-bottom: 37px;

			h4 {
				font-size: 32px;
				font-weight: 500;
			}

			.ChangeOrder {
				transition: all 0.3s;

				color: #000;

				font-size: 20px;
				font-weight: 500;

				&:hover {
					transition: all 0.3s;
					transform: scale(1.05);
				}
			}
		}

		.Products {
			overflow-y: scroll;

			max-height: 550px;
			.Spiner{
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}

		.OrderPrices {
			.OrderPriceItem {
				display: flex;
				align-items: center;
				justify-content: space-between;

				margin-top: 10px;
				margin-bottom: 10px;

				h4 {
					color: #000;

					font-size: 20px;
					font-weight: 500;
				}

				h3 {
					color: #000;

					font-size: 24px;
					font-weight: 500;
				}
			}

			.TotalPrice {
				display: flex;
				justify-content: space-between;

				margin-top: 20px;

				h4 {
					color: #000;

					font-size: 36px;

					font-weight: 500;
				}

				h3 {
					color: #000;

					font-size: 36px;

					font-weight: 500;
				}
			}
		}

		.OrderBtn {
			display: flex;
			align-items: center;
			justify-content: center;

			margin-top: 20px;
			margin-bottom: 20px;
			.EmptyCart{
				text-align: center;
				font-size: 32px;
				font-weight: 500;
			}
		}
	}
}

.Error {

	display: flex;

	height: 17px;
	margin-bottom: 3px;

	text-align: center;

	color: red;

	font-size: 14px;
}

.ErrorValid {
	width: 350px;
	height: 55px;
	margin-bottom: 20px;
	padding: 16px 19px;

	border: 1px solid red;

	background-color: transparent;
	background-color: rgb(255 225 225);

	font-size: 20px;

	&::placeholder {
		color: rgb(255 121 121);
	}
}

// media requests

@media (max-width: 768px){
	.Container{
		grid-template-columns: 1fr;
		.Title {
			text-align: center;
		}
		.Order {
			margin-left: 10px;
			margin-right: 10px;
		}
	}
}