.Container {
	max-width: 1000px;
	margin-top: 90px !important;
	margin-bottom: 100px !important;
	margin: 0 auto;
	background-color: #000;
	.Slider {
		display: flex;
		overflow: hidden;
		align-items: center;
		justify-content: center;



		cursor: pointer;

		border-radius: 10px 10px 0 0;
	}
}
