.Header {
	display: grid;
	align-items: center;

	padding: 0 calc(50% - 650px);
	padding-top: 20px;

	padding-bottom: 20px;

	background-color: #000;
	grid-template-columns: 1fr 1.2fr;

	.Logo {
		width: fit-content;
		margin-left: 10px;

		img {
			transition: all 0.3s;

			&:hover {
				transition: all 0.3s;
				transform: scaleY(1.2);
			}
		}
	}

	.Nav {
		display: grid;
		align-items: center;
		grid-template-columns: 1fr 1fr;
	}

	.NavItems {
		display: flex;

		margin-right: 10px;
		margin-left: 10px;

		text-transform: lowercase;

		color: #FFF;

		font-size: 30px;
		gap: 40px;
	}

	.Icons {

		display: grid;
		align-items: center;
		justify-self: self-end;
		grid-auto-flow: column;

		img {
			margin-right: 4vh;
		}

		.Btn {
			margin-right: 10px;
			margin-bottom: 3px;

			transition: all 0.3s;

			color: #FFF;

			font-size: 30px;

			&:hover {
				transition: all 0.3s;
				transform: scale(1.1);
			}
		}
	}
}

.Container {

}

.Footer {
	padding: 0 calc(50% - 650px);
}
