.Header {
	display: grid;
	align-items: center;
	padding: 0 calc(50% - 650px);
	padding-top: 20px;
	padding-bottom: 20px;
	width: 100%;
	background-color: #000;
	grid-template-columns: 1fr 1fr;
	position: fixed;
	z-index: 10;
	.Nav {
		display: grid;
		align-items: center;
		grid-template-columns: 1fr 1fr;
	}

	.NavItems {
		display: flex;

		margin-right: 10px;
		margin-left: 10px;

		text-transform: lowercase;

		color: #FFF;

		font-size: 30px;
		gap: 40px;
	}
	.NavItem{
		transition: all 0.3s;
		cursor: pointer;
		&:hover {
			transition: all 0.3s;
			transform: scale(1.05);
		}
	}
	.Icons {
		display: grid;
		align-items: center;
		justify-self: self-end;
		grid-auto-flow: column;

		img {
			margin-right: 4vh;

			cursor: pointer;
			transition: all 0.3s;

			&:hover {
				transition: all 0.3s;
				transform: scale(1.05);
			}
		}

		.Btn {
			margin-right: 10px;

			transition: all 0.3s;

			color: #FFF;

			font-size: 30px;

			&:hover {
				transition: all 0.3s;
				transform: scale(1.1);
			}
		}
	}
}

.Container {
	padding-top: 95px;
}

.Footer {
	display: flex;
	align-items: center;
	justify-content: space-between;

	height: 350px;
	padding: 0 calc(50% - 650px);

	background-color: #000;

	.Contacts {
		&Title {
			margin-bottom: 10px;

			text-transform: lowercase;

			color: #FFF;

			font-size: 36px;
			font-weight: 500;
			line-height: 42px;
		}

		.FooterLinks {
			display: flex;
			flex-direction: column;

			margin-bottom: 15px;

			a {
				margin-bottom: 10px;

				transition: all 0.3s;
				text-transform: lowercase;

				color: #FFF;

				font-size: 32px;
				font-weight: 400;
				line-height: 38px;

				&:hover {
					transition: all 0.3s;
					transform: scale(1.05);
				}
			}
		}

		.FooterIcons {
			img {
				margin-right: 25px;

				transition: all 0.3s;

				&:hover {
					transition: all 0.3s;
					transform: scale(1.05);
				}
			}
		}
	}

	.FooterNav {
		display: flex;
		flex-direction: column;

		.FooterNavItem {
			transition: all 0.3s;
			text-align: right;
			text-transform: lowercase;

			color: #FFF;

			font-size: 36px;
			font-weight: 500;
			line-height: 42px;

			&:hover {
				transition: all 0.3s;
				transform: scale(1.05);
			}
		}
	}
}

.Logo {
	width: fit-content;
	margin-left: 10px;

	img {
		transition: all 0.3s;

		&:hover {
			transition: all 0.3s;
			transform: scaleY(1.2);
		}
	}
}
