.Container {
	position: fixed;
	z-index: 8;
	top: 0;
	left: 0;

	display: flex;
	align-items: center;
	justify-content: flex-end;

	width: 100vw;
	height: 100vh;

	transition: all 0.3s;
	transform: translateX(120%);
	backdrop-filter: blur(15px);
}

.Active {
	position: fixed;
	z-index: 2;
	top: 0;

	left: 0;

	display: flex;
	align-items: center;
	justify-content: flex-end;

	width: 100vw;
	height: 100%;

	transition: all 0.3s;
	transform: translateX(0);

	background-color: transparent;
	backdrop-filter: blur(10px);

	.Content {
		position: relative;

		display: flex;
		align-items: flex-start;
		flex-direction: column;
		justify-content: space-between;

		width: 100vw;
		height: 100%;
		height: 100vh;

		background-color: #FFF;

		.Text {
			display: flex;
			flex-direction: column;

			margin: 0 auto;

			margin-top: 150px !important;
			padding-right: 2.5%;
			padding-left: 2.5%;

			text-transform: lowercase;

			font-size: 48px;
			font-weight: 600;

			.CloseBtn {
				width: 10px;

				cursor: pointer;
				transition: all 0.3s;

				&:hover {
					transition: all 0.3s;

					opacity: 0.8;
				}

				&::before,
				&::after {
					position: absolute;
					top: 65px;
					right: 35px;

					width: 40px;
					height: 4px;

					content: "";

					border-radius: 5px;

					background: #000;
				}

				&::after {
					transform: rotate(45deg);
				}

				&::before {
					transform: rotate(-45deg);
				}
			}
		}

		.BurgerItem {
			margin: 0 auto;
			margin-bottom: 40px !important;

			cursor: pointer;
			transition: all 0.3s;
			text-transform: lowercase;

			color: #000;

			font-size: 48px;
			font-weight: 600;

			&:hover {
				transition: all 0.3s;
				transform: scale(1.02);
			}
		}
	}
}
