.Container {
  padding-top: 95px !important;
  padding: 0 calc(50% - 650px);
  .Title {

    font-weight: 600;
    font-size: 72px;
    line-height: 75px;
    text-transform: lowercase;
    display: flex;
    align-items: center;
    padding: 50px 0;
    p {
      // margin-left: 10%;
    }
    img {
      margin-left: 20px;
    }
  }
  .Favorites{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    gap: 20px;
  }
}
