.Container {
	height: 90.6vh;
	padding: 0 calc(50% - 650px);
	padding-top: 50px !important;

	background-color: #000;

	.Grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.Title {
		margin-bottom: 60px;

		font-weight: bold;
	}

	.Decription {
		margin-top: 40px;
	}

	.Btn {
		margin-top: 60px;
	}

	.Arrow {
		display: block;

		margin-top: 2%;
		margin-right: auto;
		margin-left: auto;

		cursor: pointer;
		transition: all 0.3s;

		&:hover {
			margin-top: 4%;

			transition: all 0.3s;
		}
	}
}
