.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  max-width: 700px;
  height: 350px;
  margin: 0 auto;

  background-color: #000;

  .Avatar {
    display: flex;
    align-items: center;

    margin-bottom: 35px;

    .Image {
      img {
        border-radius: 32px;
      }
    }

    .Title {
      margin-left: 15px;

      color: #fff;

      font-size: 32px;
      font-weight: 700;
      line-height: 18px;
    }
  }

  .Description {
    white-space: normal;

    letter-spacing: 0.1px;
    max-width: 200px;
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
  }
}

// media requests

@media (max-width: 1200px) {
  .Container {
    max-width: 700px;
  }
}

@media (max-width: 992px) {
  .Container {
    max-width: 600px;
  }
}

@media (max-width: 768px) {
  .Container {
    max-width: 400px;
  }
}

@media (max-width: 576px) {
  .Container {
	.Avatar{
		justify-content: center;
		align-items: center;
	}
	
    max-width: 400px;
  }
}
