.Input {
	width: 350px;
	height: 55px;
	margin-bottom: 20px;
	padding: 16px 19px;

	border: 1px solid #000;
	background-color: transparent;

	font-size: 20px;

	&::placeholder {
		color: #949494;
	}
}
