.Scroll {
  &::before {
    content: "";
    display: block;
    width: 1px;
    height: 75px;
    margin-top: -75px;
    visibility: hidden;
  }
}
.Container {
  display: grid;

  margin-top: 100px;
  margin-bottom: 100px;
  padding: 0 calc(50% - 650px);
  grid-template-columns: repeat(3, 1fr);
  gap: 65px;
}
.Spiner{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

// media requests
@media (max-width: 1200px) {
  .Container {
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;

    align-items: center;
  }
}

@media (max-width: 768px) {
  .Container {
    margin-top: 50px;
    margin-bottom: 50px;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 576px) {
  .Container {
    margin-top: 30px;
    margin-bottom: 30px;
    gap: 15px;
  }
}
